:root {
    /* variables */
    --fade-duration: 2s;
    --fade-delay: 1s;
    --nav-font-size: 0.8rem;
    --main-header-color: rgb(25, 87, 149);
    --footer-color: #222;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 28px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: aliceblue;
}

footer {
    background-color: var(--footer-color);
    color: #eee;
    padding: 1rem 0 0 2rem;
    font-size: 0.6rem;
}

footer a {
    color: #eee;
    text-decoration: underline;
    text-decoration-color: #778;
    padding-left: 4px;
    position: relative;
}

footer p:first-child {
    font-size: 0.68rem;
    font-weight: 500;
    margin: 0.9em 0 1.8em 0;
}

footer p {
    margin: 0.6em 0;
}

footer a::after {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 2px;
    width: calc(100% - 4px);
    height: 1.3px;
    background: linear-gradient(to left, #46ccea, #00759c);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

footer a:hover {
    color: #94d4e3;
    text-decoration: none;
}

footer a:hover::after {
    opacity: 1;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    background-color: var(--footer-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bbb;
    font-size: 0.5rem;
    padding-bottom: 0.8rem;
}

.nav-items li {
    display: none;
    font-size: var(--nav-font-size);
    margin-right: 1em;
}

.nav-items a {
    color: rgb(51, 118, 185);
    text-decoration: none;
}

.nav-items a:hover {
    text-decoration: underline;
}

.main-header {
    font-size: 1.7em;
    color: var(--main-header-color);
}

video {
    opacity: 0.2;
    filter: brightness(160%) blur(1px);
    width: 100%;
    height: 480px;
    display: block;
    overflow: hidden;
    object-fit: cover;
}

.specialising-header,
.located-header {
    color: var(--main-header-color);
    margin-bottom: 2rem;
    font-size: 1.3em;
}

.located-header {
    margin-bottom: 1rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.flex-row div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 8em;
    width: 10em;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 0.5rem 1.4rem 0.5rem;
    font-size: 0.76em;
}

.flex-row div:hover {
    color: #338;
    border-color: #ccd;
}

.fade-text {
    z-index: 1;
    font-weight: 700;
    font-size: 1.65rem;
    user-select: none;
    /* Standard syntax: Prevent select */
    position: absolute;
    left: 13%;
    filter: drop-shadow(1px 2px 2px #bba);
}

.fade-in-left {
    opacity: 0;
    top: 3.5em;
    animation: fade-left var(--fade-duration) ease forwards;
    animation-delay: calc(var(--fade-delay) * 0.8);
    /* -moz-animation: fade-left var(--fade-time); */
    /* Firefox < 16 */
    /* -ms-animation: fade-left var(--fade-time); */
    /* Internet Explorer */
    /* -o-animation: fade-left var(--fade-time); */
    /* Opera < 12.1 */
    /* animation: fade-left var(--fade-time); */
}

.fade-in-right {
    opacity: 0;
    top: 8em;
    animation: fade-right var(--fade-duration) ease forwards;
    animation-delay: calc(var(--fade-delay) * 1.8);
    /* -moz-animation: fade-right var(--fade-time); */
    /* Firefox < 16 */
    /* -ms-animation: fade-right var(--fade-time); */
    /* Internet Explorer */
    /* -o-animation: fade-right var(--fade-time); */
    /* Opera < 12.1 */
    /* animation: fade-right var(--fade-time); */
}

#svg-logo {
    width: 310px;
    margin: 1em 0 1em 0;
    height: 3em;
}

#located-in-img {
    width: 12rem;
    height: 12rem;
    box-shadow: #ddd 0px 2px 3px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.path-scale {
    transform: scale(0.5, 0.5);
    filter: drop-shadow(1px 3px 3px #888);
}

.text-founded,
.text-by,
.text-ralph {
    font-size: 0.84rem;
    margin-bottom: 0.5rem;
}

.text-founded {
    font-size: 0.8rem;
    margin-top: 2.5rem;
}

.text-ralph {
    color: var(--main-header-color);
    font-weight: 500;
    filter: drop-shadow(0.5px 0.5px 1px #aaa);
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Firefox < 16 */
@-moz-keyframes fade-left {}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade-left {}

/* Internet Explorer */
@-ms-keyframes fade-left {}

/* Opera < 12.1 */
@-o-keyframes fade-left {}

/* breakpoints: */
@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 610px) {
    #svg-logo {
        width: 600px;
        margin: 1em 0 1em 0;
        height: auto;
    }

    .path-scale {
        transform: scale(0.8, 0.8);
    }
}

@media screen and (min-width: 480px) {

    .main-header {
        font-size: 2em;
        margin: 0.5rem 0 2.6rem 0;
    }

    .nav-items li {
        display: block;
        font-size: var(--nav-font-size);
        margin-right: 1em;
    }

    .header-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 2rem;
    }

    .fade-text {
        font-size: 2em;
        font-weight: 700;
    }

    .fade-in-left {
        top: 5em;
    }

    .fade-in-right {
        top: 10em;
    }

    video {
        height: 600px;
    }

    .specialising-header,
    .located-header {
        color: var(--main-header-color);
        margin-bottom: 3rem;
        font-size: 1.8em;
    }

    .located-header {
        margin-bottom: 1rem;
    }

    .flex-row div {
        width: 12em;
        margin: 0 1rem 2rem 1rem;
        font-size: 1em;
    }

    #located-in-img {
        width: 12rem;
        height: 13rem;
        box-shadow: #ddd 2px 0px 3px;
        border-radius: 15px 0 0 15px;
        object-fit: cover;
    }
}