:root {
    /* variables */
    --fade-duration: 2s;
    --fade-delay: 1s;
    --nav-font-size: 0.8rem;
    --main-header-color: rgb(25, 87, 149);

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 28px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: aliceblue;
}

footer {
    background-color: #222;
    color: #eee;
    padding: 1rem 0 0 2rem;
    font-size: 0.6rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bbb;
}

.nav-items li {
    display: block;
    font-size: var(--nav-font-size);
    margin-right: 1em;
}

.nav-items a {
    color: rgb(51, 118, 185);
    text-decoration: none;
}

.nav-items a:hover {
    text-decoration: underline;
}

.main-header {
    font-size: 1.7em;
    color: var(--main-header-color);
}

video {
    opacity: 0.2;
    filter: brightness(160%) blur(1px);
    width: 100%;
    height: 500px;
    display: block;
    overflow: hidden;
    object-fit: cover;
}

.specialising-header {
    color: var(--main-header-color);
    margin-bottom: 3rem;
    font-size: 1.3em;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.flex-row div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 8em;
    width: 10em;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 1rem 1.4rem 1rem;
    font-size: 0.9em;
}

.flex-row div:hover {
    color: #338;
    filter: brightness(85%);
}

.fade-text {
    z-index: 1;
    font-weight: 700;
    font-size: 1.65rem;
    position: absolute;
    left: 13%;
}

.fade-in-left {
    top: 250px;
    animation: fade-left var(--fade-duration) ease forwards;
    /* -moz-animation: fadein var(--fade-time); */
    /* Firefox < 16 */
    /* -ms-animation: fadein var(--fade-time); */
    /* Internet Explorer */
    /* -o-animation: fadein var(--fade-time); */
    /* Opera < 12.1 */
    /* animation: fadein var(--fade-time); */
}

.fade-in-right {
    top: 480px;
    opacity: 0;
    animation: fade-right var(--fade-duration) ease forwards;
    animation-delay: var(--fade-delay);
    /* -moz-animation: fadein var(--fade-time); */
    /* Firefox < 16 */
    /* -ms-animation: fadein var(--fade-time); */
    /* Internet Explorer */
    /* -o-animation: fadein var(--fade-time); */
    /* Opera < 12.1 */
    /* animation: fadein var(--fade-time); */
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Firefox < 16 */
@-moz-keyframes fade-left {}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade-left {}

/* Internet Explorer */
@-ms-keyframes fade-left {}

/* Opera < 12.1 */
@-o-keyframes fade-left {}

/* breakpoints: */
@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 480px) {
    .main-header {
        font-size: 2em;
        margin: 0.5rem 0 2.6rem 0;
    }

    .header-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 2rem;
    }

    .fade-text {
        font-size: 2em;
        font-weight: 700;
    }

    video {
        height: 600px;
    }

    .specialising-header {
        color: var(--main-header-color);
        margin-bottom: 3rem;
        font-size: 1.8em;
    }

    .flex-row div {
        width: 12em;
        margin: 0 1rem 2rem 1rem;
        font-size: 1em;
    }
}